body {
  font-family: 'Source Sans Pro';
}

.regular {
  font-weight: 300;
}

#choose-your-destiny {
  font-size: 1.5em;
  height:100vh;
  width:100vw;
}

h1 {
  font-size: 2em;
}

#socials a {
}

#socials a:hover {
  opacity: 0.5;
}

.scl-icon {
  width: 48px;
}

.fill-red {
  fill: #ff4136;
}

#musician {
  min-height: 100vh;
  width: 100vw;
}

#programmer {
  min-height: 100vh;
  width: 100vw;
}
